<% provide(:title, @creation.name) %>
<%= javascript_tag do %>
    window.allNotes = JSON.parse('<%= raw @creation.data %>')
<% end %>

<h1><%= @creation.name %></h1>
<p>By: <%= link_to @creation.user.name, @creation.user %></p>
<div id="create-song">
  <div id="toolbar">
    <button class="click-option option-selected" id="add-notes" style="visibility: hidden"><i class="fa fa-music"></i></button>
    <button id="play-button"><i class="fa fa-play"></i>
    <button id="stop-button"><i class="fa fa-stop"></i>
  </div>
  <%= render "note_board" %>
</div>

<% if logged_in? %>
  <%= text_area_tag "comment-box", nil, rows: 5 %>
  <br>
  <button id="post-comment">Comment</button>
<% end %>

<div id="comment-section">
<%= render @comments %>
</div>